<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <link href="../static/css/table.css" rel="stylesheet">
      
</head>
<body>
               <div id="wrapper">
                    <h1>POPULATION TABLE</h1>
                    
                    <table id="keywords" cellspacing="0" cellpadding="0">
                      <thead>
                        <tr>
                            <th><span>POPULATION_ID</span></th>
                            <th><span>SCIENTIFIC_NAME</span></th>
                            <th><span>CONSERVATION_STATUS</span></th>
                            <th><span>POPULATION_COUNT</span></th>
                            <th><span>POPULATION_TREND</span></th>
                            <th><span>DATE_ASSESSED</span></th>
                            <th><span>Update</span></th>
                            <th><span>Delete</span></th>
                        </tr>
                      </thead>            
                {% for population in population_data %}
                <tr>
                    <td>{{ population.POPULATION_ID }}</td>
                    <td>{{ population.SCIENTIFIC_NAME }}</td>
                    <td>{{ population.CONSERVATION_STATUS }}</td>
                    <td>{{ population.POPULATION_COUNT }}</td>
                    <td>{{ population.POPULATION_TREND }}</td>
                    <td>{{ population.DATE_ASSESSED }}</td>
                    <td><a href="/population/{{ population.POPULATION_ID }}">Update</a></td>
                    <td><a href="/delete_population/{{ population.POPULATION_ID }}">Delete</a></td>
                </tr>
                {% endfor %}
            </thread>
        </form>
    </main>

    <!-- Bootstrap JS -->
    <script src="../static/js/table.js"></script>
</body>
</html>
